<html>
    <head>
        <title>Inventory</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Inventory</h1>

            {% if inventory is not empty %}
                <p>Here is your stuff:</p>
                <ul>
                    {% for item in inventory %}
                        <li>{{ item.getItem }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action="/create" method="post">
                <label for="item">Item name</label>
                <input type="text" name="item" id="item">

                <button type="submit" class="btn btn-success">Add item</button>
            </form>

            <form action="/search">
                <label for="search">Item name</label>
                <input type="text" name="search" id="search">

                <button type="submit" class="btn btn-info">Search items</button>
            </form>

            <form action="/delete" method="post">
                <button type="submit" class="btn btn-danger">Clear</button>
            </form>
        </div>
    </body>
</html>
